.navbar {
    border-style: solid;
    border-radius: 20px;
    /* background-color: #333; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    background: rgba(16, 158, 240, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
    background-image: url(bg2.jpg);
}

.logo {
    font-size: 50px;
    margin: 0;
    color: rgb(0, 110, 255);
    font-family: "Verdana";
    font-weight: bolder;
}

#logo_image {
    height: 100px;
    width: 170px;
}

.nav-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #0056b3;
}

.fund-section {
    padding-top: 10px;
    justify-content: flex-start;
    padding-left: 15%;
}

#ethAmount {
    width: 650px;
    border-radius: 30px;
    height: 40px;
    margin: 100px 100px 10px 180px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#fund-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-left: 440px;
    margin-bottom: 100px;
}

.table_content {
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
    text-decoration: solid;
    font-size: 18px;
    font-weight: bolder;
    color: #1c4faf;
}

.value {
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
    text-decoration: solid;
    font-size: 18px;
    color: #1c4faf;
}

#recent-winner {
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
    text-decoration: solid;
    font-size: 18px;
    color: #1c4faf;
}

.info-section {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 50px;
    margin-right: 50px;
}
